# Exploratory Notebook for Aviation Project, Group 4

In [207]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [208]:
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

In [209]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [210]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [212]:
#This is not especially  helpful. It seemed more efficient than looking at each var 1 by 1, but it's too much info to weed through all together.
for v in df.columns:
    print(df[v].value_counts())

20001214X45071    3
20001212X19172    3
20001207X03690    2
20001208X06466    2
20001212X18361    2
                 ..
20100919X42634    1
20001214X40873    1
20001213X32975    1
20001206X02190    1
20070717X00952    1
Name: Event.Id, Length: 87951, dtype: int64
Accident    85015
Incident     3874
Name: Investigation.Type, dtype: int64
ERA22LA103    2
ERA22LA119    2
WPR23LA045    2
ERA22LA364    2
DCA22WA172    2
             ..
ATL83FA211    1
CHI87LA055    1
IAD05FA023    1
FTW97LA298    1
ERA21LA095    1
Name: Accident.Number, Length: 88863, dtype: int64
1982-05-16    25
2000-07-08    25
1984-06-30    25
1983-06-05    24
1986-05-17    24
              ..
1996-02-25     1
1991-12-19     1
2016-01-10     1
1999-01-07     1
2011-12-06     1
Name: Event.Date, Length: 14782, dtype: int64
ANCHORAGE, AK       434
MIAMI, FL           200
ALBUQUERQUE, NM     196
HOUSTON, TX         193
CHICAGO, IL         184
                   ...
Benevides,            1
FAIRFIELD, AZ         1
Winterville, SC       1
RED LEVEL, AL         1
Nykoping, Sweden      1
Name: Location, Length: 27758, dtype: int64
United States                    82248
Brazil                             374
Canada                             359
Mexico                             358
United Kingdom                     344
                                 ...
Belarus                              1
Mauritania                           1
AY                                   1
Anguilla                             1
St Vincent And The Grenadines        1
Name: Country, Length: 219, dtype: int64
332739N      19
335219N      18
334118N      17
32.815556    17
039405N      16
             ..
501124N       1
404035N       1
26.2425       1
043519N       1
031627N       1
Name: Latitude, Length: 25589, dtype: int64
0112457W       24
1114342W       18
1151140W       17
-104.673056    17
1114840W       16
               ..
0110110W        1
0119432W        1
0079164W        1
-92.693611      1
0083211W        1
Name: Longitude, Length: 27154, dtype: int64
NONE    1488
PVT      485
APA      160
ORD      149
MRI      137
        ...
V1Q        1
KROG       1
BQU        1
WN35       1
OWI8       1
Name: Airport.Code, Length: 10375, dtype: int64
Private                          240
PRIVATE                          224
Private Airstrip                 153
NONE                             146
PRIVATE STRIP                    111
                                ...
Pineville Municipal                1
Minsk-2 International Airport      1
Detroit Metro                      1
PRIVATE-JAMES STEWART              1
ASHENFETTER                        1
Name: Airport.Name, Length: 24871, dtype: int64
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(145)        1
Fatal(60)         1
Fatal(88)         1
Fatal(31)         1
Fatal(49)         1
Name: Injury.Severity, Length: 109, dtype: int64
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64
NONE      344
UNREG     126
None       65
UNK        13
USAF        9
         ...
N4317Y      1
ZS-RXD      1
N4594J      1
N39541      1
N805SB      1
Name: Registration.Number, Length: 79105, dtype: int64
Cessna                   22227
Piper                    12029
CESSNA                    4922
Beech                     4330
PIPER                     2841
                         ...
Bambrick                     1
Western International        1
Dallmeyer                    1
Commings                     1
Westland                     1
Name: Make, Length: 8237, dtype: int64
152                    2367
172                    1756
172N                   1164
PA-28-140               932
150                     829
                       ...
24-260                    1
Jet Provost T Mk.5A       1
PA 18-125                 1
DA-20-A1                  1
BE-90C                    1
Name: Model, Length: 12318, dtype: int64
No     80312
Yes     8475
Name: Amateur.Built, dtype: int64
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64
091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
103                                   2
Public Aircraft                       2
Armed Forces                          1
437                                   1
Part 91F: Special Flt Ops.            1
Part 91 Subpart K: Fractional         1
Name: FAR.Description, dtype: int64
NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64
Pilot                            258
American Airlines                 90
United Airlines                   89
Delta Air Lines                   53
SOUTHWEST AIRLINES CO             42
                                ...
2FlyAirborne                       1
Bemidji Aviation Services Inc      1
Jet Share Us, Llc                  1
ART LEE DELANO                     1
(dba: Alitalia)                    1
Name: Air.carrier, Length: 13590, dtype: int64
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64
Probable Cause                                                                                                                                                                                                                                                                                              61754
Foreign                                                                                                                                                                                                                                                                                                      1999
<br /><br />                                                                                                                                                                                                                                                                                                  167
Factual                                                                                                                                                                                                                                                                                                       145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                   56
                                                                                                                                                                                                                                                                                                            ...
The noninstrument-rated pilotÂ’s improper decision to depart in dark, night marginal visual flight rules conditions, which resulted in his spatial disorientation and subsequent loss of airplane control. \r                                                                                                    1
The pilot's failure to properly calculate the fuel consumption rate and to properly monitor the fuel status in flight and his decision to continue the flight despite signs of an engine problem, which resulted in a total loss of engine power due to fuel exhaustion and a subsequent forced landing.        1
The pilot's loss of glider control due to impairment or incapacitation caused by an episode of ventricular tachycardia.                                                                                                                                                                                         1
The pilot not maintaining clearance from the runway sign during taxi for takeoff.  A factor contributing to the accident was an icy taxiway.                                                                                                                                                                    1
The pilotÂ’s selection of unsuitable terrain for landing which resulted in a nose over.\r                                                                                                                                                                                                                        1
Name: Report.Status, Length: 17075, dtype: int64
25-09-2020    17019
26-09-2020     1769
03-11-2020     1155
31-03-1993      452
25-11-2003      396
              ...
28-10-2021        1
25-05-2004        1
07-12-1995        1
30-05-2013        1
27-08-2022        1
Name: Publication.Date, Length: 2924, dtype: int64

In [213]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [214]:
df['Event.Year'] = pd.DatetimeIndex(df['Event.Date']).year

In [215]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [216]:
df = df[df['Event.Year'] >= 2000]

In [217]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
47675,20001212X20407,Accident,MIA00LA063,2000-01-01,"HOMESTEAD, FL",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,29-11-2000,2000
47676,20001212X20327,Accident,ATL00FA019,2000-01-01,"MONTEAGLE, TN",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,19-04-2001,2000
47677,20001212X20383,Accident,LAX00LA063,2000-01-02,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,04-12-2000,2000
47678,20001212X20382,Accident,LAX00LA062,2000-01-02,"DOS PALOS, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,VMC,Cruise,Probable Cause,14-12-2001,2000
47679,20001212X20364,Accident,FTW00LA067,2000-01-02,"CORNING, AR",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,5.0,VMC,Cruise,Probable Cause,02-03-2001,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [218]:
df = df.drop(columns=['Latitude', 'Longitude', 'Report.Status', 'Country', 'Airport.Code', 
                'Airport.Name', 'Registration.Number', 'Number.of.Engines', 'Engine.Type',
                'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight',
                'Report.Status', 'Publication.Date', 'Location'])

In [219]:
df['Make'].value_counts()

Cessna               5666
CESSNA               4922
Piper                3075
PIPER                2841
Beech                1212
                     ...
Lingwall                1
BLAKE D BARRYMORE       1
REPLOGLE                1
Jeffrey Wilson          1
Westland                1
Name: Make, Length: 5811, dtype: int64

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41214 entries, 47675 to 88888
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                41214 non-null  object
 1   Investigation.Type      41214 non-null  object
 2   Accident.Number         41214 non-null  object
 3   Event.Date              41214 non-null  object
 4   Injury.Severity         40214 non-null  object
 5   Aircraft.damage         39146 non-null  object
 6   Aircraft.Category       28406 non-null  object
 7   Make                    41159 non-null  object
 8   Model                   41146 non-null  object
 9   Amateur.Built           41114 non-null  object
 10  Purpose.of.flight       35122 non-null  object
 11  Total.Fatal.Injuries    30131 non-null  float64
 12  Total.Serious.Injuries  29120 non-null  float64
 13  Total.Minor.Injuries    29701 non-null  float64
 14  Total.Uninjured         35574 non-null  float64
 15  Weather.Condition       36747 non-null  object
 16  Event.Year              41214 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 5.7+ MB

In [221]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year
47675,20001212X20407,Accident,MIA00LA063,2000-01-01,Non-Fatal,Substantial,NaN,Cessna,550,No,Positioning,0.0,0.0,0.0,3.0,VMC,2000
47676,20001212X20327,Accident,ATL00FA019,2000-01-01,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,No,Personal,2.0,0.0,0.0,0.0,IMC,2000
47677,20001212X20383,Accident,LAX00LA063,2000-01-02,Non-Fatal,Substantial,NaN,Cessna,172G,No,Personal,0.0,0.0,0.0,2.0,VMC,2000
47678,20001212X20382,Accident,LAX00LA062,2000-01-02,Non-Fatal,Substantial,NaN,Cessna,172A,No,Instructional,0.0,0.0,1.0,0.0,VMC,2000
47679,20001212X20364,Accident,FTW00LA067,2000-01-02,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,No,Personal,0.0,0.0,0.0,5.0,VMC,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,Minor,NaN,NaN,PIPER,PA-28-151,No,Personal,0.0,1.0,0.0,0.0,NaN,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,0.0,0.0,0.0,0.0,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,Personal,0.0,0.0,0.0,1.0,VMC,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,NaN,NaN,NaN,CESSNA,210N,No,Personal,0.0,0.0,0.0,0.0,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,Minor,NaN,NaN,PIPER,PA-24-260,No,Personal,0.0,1.0,0.0,1.0,NaN,2022

In [222]:
df.drop(df.index[df["Amateur.Built"] == "Yes"], inplace=True)
df.drop(df.index[df['Make'].isna()], inplace = True)
df.drop(df.index[df['Model'].isna()], inplace =True)

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36471 entries, 47675 to 88888
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                36471 non-null  object
 1   Investigation.Type      36471 non-null  object
 2   Accident.Number         36471 non-null  object
 3   Event.Date              36471 non-null  object
 4   Injury.Severity         35493 non-null  object
 5   Aircraft.damage         34434 non-null  object
 6   Aircraft.Category       25110 non-null  object
 7   Make                    36471 non-null  object
 8   Model                   36471 non-null  object
 9   Amateur.Built           36374 non-null  object
 10  Purpose.of.flight       30487 non-null  object
 11  Total.Fatal.Injuries    26558 non-null  float64
 12  Total.Serious.Injuries  25698 non-null  float64
 13  Total.Minor.Injuries    26226 non-null  float64
 14  Total.Uninjured         31772 non-null  float64
 15  Weather.Condition       32134 non-null  object
 16  Event.Year              36471 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 5.0+ MB

In [224]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Injury.Severity             978
Aircraft.damage            2037
Aircraft.Category         11361
Make                          0
Model                         0
Amateur.Built                97
Purpose.of.flight          5984
Total.Fatal.Injuries       9913
Total.Serious.Injuries    10773
Total.Minor.Injuries      10245
Total.Uninjured            4699
Weather.Condition          4337
Event.Year                    0
dtype: int64

In [226]:
df['Make'] = df['Make'].astype(str)

In [227]:
df['Make'] = df['Make'].str.capitalize()

In [229]:
df['Make'].value_counts()[:50]

Cessna                         10584
Piper                           5913
Beech                           2252
Boeing                          1729
Bell                            1216
Robinson                         804
Mooney                           580
Air tractor                      364
Hughes                           347
Bellanca                         337
Schweizer                        336
Maule                            293
Airbus                           290
Aeronca                          272
Mcdonnell douglas                238
Grumman                          231
Robinson helicopter              230
Cirrus design corp               223
Air tractor inc                  219
Champion                         200
Eurocopter                       198
Robinson helicopter company      194
Embraer                          193
Luscombe                         192
Stinson                          185
North american                   174
De havilland                     157
Aero commander                   149
Cirrus                           148
Taylorcraft                      140
Sikorsky                         132
Aerospatiale                     127
Aviat                            118
Enstrom                          107
Dehavilland                      101
Airbus industrie                 100
Socata                            99
Ayres                             96
Schleicher                        91
Rockwell                          79
Aviat aircraft inc                77
Bombardier                        76
Ercoupe                           74
Diamond aircraft ind inc          74
Cirrus design corp.               73
Hiller                            73
Learjet                           72
Rockwell international            71
Douglas                           71
Grumman american                  70
Name: Make, dtype: int64

In [230]:
df['Make.Model'] = df['Make']+ ' ' + df['Model']

In [231]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year,Make.Model
47675,20001212X20407,Accident,MIA00LA063,2000-01-01,Non-Fatal,Substantial,NaN,Cessna,550,No,Positioning,0.0,0.0,0.0,3.0,VMC,2000,Cessna 550
47676,20001212X20327,Accident,ATL00FA019,2000-01-01,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,No,Personal,2.0,0.0,0.0,0.0,IMC,2000,Bellanca BL-17-30A
47677,20001212X20383,Accident,LAX00LA063,2000-01-02,Non-Fatal,Substantial,NaN,Cessna,172G,No,Personal,0.0,0.0,0.0,2.0,VMC,2000,Cessna 172G
47678,20001212X20382,Accident,LAX00LA062,2000-01-02,Non-Fatal,Substantial,NaN,Cessna,172A,No,Instructional,0.0,0.0,1.0,0.0,VMC,2000,Cessna 172A
47679,20001212X20364,Accident,FTW00LA067,2000-01-02,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,No,Personal,0.0,0.0,0.0,5.0,VMC,2000,Piper PA-46-310P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,Minor,NaN,NaN,Piper,PA-28-151,No,Personal,0.0,1.0,0.0,0.0,NaN,2022,Piper PA-28-151
88885,20221227106494,Accident,ERA23LA095,2022-12-26,NaN,NaN,NaN,Bellanca,7ECA,No,NaN,0.0,0.0,0.0,0.0,NaN,2022,Bellanca 7ECA
88886,20221227106497,Accident,WPR23LA075,2022-12-26,Non-Fatal,Substantial,Airplane,American champion aircraft,8GCBC,No,Personal,0.0,0.0,0.0,1.0,VMC,2022,American champion aircraft 8GCBC
88887,20221227106498,Accident,WPR23LA076,2022-12-26,NaN,NaN,NaN,Cessna,210N,No,Personal,0.0,0.0,0.0,0.0,NaN,2022,Cessna 210N
88888,20221230106513,Accident,ERA23LA097,2022-12-29,Minor,NaN,NaN,Piper,PA-24-260,No,Personal,0.0,1.0,0.0,1.0,NaN,2022,Piper PA-24-260

In [239]:
df['Make.Model'].value_counts()[55:100]

Piper J3C-65               88
Luscombe 8A                87
Cessna A188B               87
Cessna 177RG               87
Cessna P210N               87
Piper PA18                 86
Airbus A320                85
Cessna 185                 85
Cessna 170                 84
Cessna 150F                82
Cessna 208                 82
Robinson R22 Beta          79
Robinson helicopter R44    78
Cessna 120                 77
Boeing 747                 76
Piper PA-38-112            75
Piper PA-23-250            75
Cessna 206                 74
Cessna 182A                74
Cessna T210M               73
Bellanca 7GCBC             71
Piper PA-28-235            71
Piper PA-32-260            69
Cessna U206G               69
Piper PA-25-235            69
Cessna R182                69
Piper PA-34-200T           69
Piper PA28R                68
Cessna 172H                68
Cessna 150G                68
Beech C23                  67
Cessna 207                 66
Cessna A185                66
Piper PA-32R-300           66
Cessna T210L               65
Cessna 172L                65
Cessna 150H                63
Piper PA32                 62
Beech 35                   61
Boeing 767                 60
Mooney M20E                59
Cessna TR182               59
Stinson 108                58
Piper PA 18-150            58
Beech V35B                 58
Name: Make.Model, dtype: int64

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36471 entries, 47675 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                36471 non-null  object
 1   Investigation.Type      36471 non-null  object
 2   Accident.Number         36471 non-null  object
 3   Event.Date              36471 non-null  object
 4   Injury.Severity         35493 non-null  object
 5   Aircraft.damage         34434 non-null  object
 6   Aircraft.Category       25110 non-null  object
 7   Make                    36471 non-null  object
 8   Model                   36471 non-null  object
 9   Amateur.Built           36374 non-null  object
 10  Purpose.of.flight       30487 non-null  object
 11  Total.Fatal.Injuries    26558 non-null  float64
 12  Total.Serious.Injuries  25698 non-null  float64
 13  Total.Minor.Injuries    26226 non-null  float64
 14  Total.Uninjured         31772 non-null  float64
 15  Weather.Condition       32134 non-null  object
 16  Event.Year              36471 non-null  int64
 17  Make.Model              36471 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 5.3+ MB

In [243]:
df['Injury.Severity'].value_counts()

Non-Fatal     27000
Fatal          4548
Fatal(1)       1305
Fatal(2)        867
Incident        629
              ...
Fatal(25)         1
Fatal(115)        1
Fatal(143)        1
Fatal(15)         1
Fatal(199)        1
Name: Injury.Severity, Length: 67, dtype: int64