# Exploratory Notebook for Aviation Project, Group 4

In [ ]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
# Importing the Avaiation Data set 
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

### Initial review of the data

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum()/len(df)*100

### Data cleaning and manipulation: creation of new columns, filtering, and dropping of columns and rows

In [ ]:
# Here we are creating a new column for the event year pulling the year from the even date column

df['Event.Year'] = pd.DatetimeIndex(df['Event.Date']).year

In [ ]:
# Filtering the events to only occur after the year of 2000, you can see below that our data set has decreased from 88889 down to 41214

df = df[df['Event.Year'] >= 2000]

In [ ]:
# Now that the events have been filtered out to only show the data after 2000 we are dropping any columns that are not needed

df = df.drop(columns=['Latitude', 'Longitude', 'Report.Status', 'Airport.Code', 
                'Airport.Name', 'Registration.Number', 'Number.of.Engines', 'Engine.Type',
                'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight',
                'Report.Status', 'Publication.Date', 'Location'])

In [ ]:
# Removing any aircrafts that were amateur built
df.drop(df.index[df["Amateur.Built"] == "Yes"], inplace=True) 

# Removing any countries outside of the United States because we only want to look at domestic flights
df.drop(df.index[df["Country"] != "United States"], inplace=True)

# Removing any aircrafts that are not categorized under airplane
df.drop(df.index[df["Aircraft.Category"] != "Airplane"], inplace=True)

# Removing any aircrafts that are missing either the make or the model
df.drop(df.index[df['Make'].isna()], inplace = True)
df.drop(df.index[df['Model'].isna()], inplace =True)

In [ ]:
df['Make'].value_counts()

In [ ]:
######################### which of these are we using? .capitalize() or .upper()###############################

In [ ]:
# Use the same letter casing to combine Make entries
df['Make'] = df['Make'].astype(str)
df['Make'] = df['Make'].str.capitalize()

In [ ]:
df['Model'] = df['Model'].astype(str)
df['Model'] = df['Model'].str.upper()

In [ ]:
#Manual data cleaning to combine airplane makes with different spellings.
df["Make"] = df["Make"].replace ("Air tractor inc", "Air tractor")
df["Make"] = df["Make"].replace ("Air tractor inc.", "Air tractor")
df["Make"] = df["Make"].replace ("Airbus industrie", "Airbus")
df["Make"] = df["Make"].replace ("American aviation", "American")
df["Make"] = df["Make"].replace ("American aviation corp. (aac)", "American")
df["Make"] = df["Make"].replace ("American champion (acac)", "American champion")
df["Make"] = df["Make"].replace ("American champion aircraft)", "American champion")
df["Make"] = df["Make"].replace ("American legend aircraft co", "American legend")
df["Make"] = df["Make"].replace ("Aviat aircraft inc", "Aviat")
df["Make"] = df["Make"].replace ("Aviat inc", "Aviat")
df["Make"] = df["Make"].replace ("Ayres corporation", "Ayres")
df["Make"] = df["Make"].replace ("Boeing stearman", "Boeing")
df["Make"] = df["Make"].replace ("Boeing company", "Boeing")
df["Make"] = df["Make"].replace ("The boeing company", "Boeing")
df["Make"] = df["Make"].replace ("Bombardier, inc.", "Bombardier")
df["Make"] = df["Make"].replace ("Bombardier inc", "Bombardier")
df["Make"] = df["Make"].replace ("Britten-norman", "Britten norman")
df["Make"] = df["Make"].replace ("Cessna aircraft", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft co", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft company", "Cessna")
df["Make"] = df["Make"].replace ("Christen industries inc", "Christen industries")
df["Make"] = df["Make"].replace ("Cirrus design corp.", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corp", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corporation", "Cirrus")
df["Make"] = df["Make"].replace ("Cub crafters", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cub crafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cubcrafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Dassault-breguet", "Dassault")
df["Make"] = df["Make"].replace ("De havilland", "Dehavilland")
df["Make"] = df["Make"].replace ("Diamond aircraft ind gmbh", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft ind inc", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft industries", "Diamond")
df["Make"] = df["Make"].replace ("Embraer-empresa brasileira de", "Embraer")
df["Make"] = df["Make"].replace ("Embraer s a", "Embraer")
df["Make"] = df["Make"].replace ("Ercoupe (eng & research corp.)", "Ercoupe")
df["Make"] = df["Make"].replace ("Flight design gmbh", "Flight design")
df["Make"] = df["Make"].replace ("Gates learjet corp.", "Gates lear jet")
df["Make"] = df["Make"].replace ("Grumman american", "Grumman")
df["Make"] = df["Make"].replace ("Grumman acft eng cor-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Grumman american avn. corp.", "Grumman")
df["Make"] = df["Make"].replace ("Grumman-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer a/c corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream american corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream aerospace", "Gulfstream")
df["Make"] = df["Make"].replace ("Hawker beechcraft", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp.", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corporation", "Hawker")
df["Make"] = df["Make"].replace ("Hawker siddeley", "Hawker")
df["Make"] = df["Make"].replace ("Jabiru usa sport aircraft llc", "Jabiru")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Learjet inc", "Learjet")
df["Make"] = df["Make"].replace ("Liberty aerospace incorporated", "Liberty aerospace inc.")
df["Make"] = df["Make"].replace ("Mcdonnell douglas aircraft co", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Douglas", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Mooney aircraft corp.", "Mooney")
df["Make"] = df["Make"].replace ("Mooney airplane co inc", "Mooney")
df["Make"] = df["Make"].replace ("Nanchang china", "Nanchang")
df["Make"] = df["Make"].replace ("Pilatus aircraft ltd", "Pilatus")
df["Make"] = df["Make"].replace ("Piper aircraft inc", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft corporation", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft", "Piper")
df["Make"] = df["Make"].replace ("Piper/cub crafters", "Piper")
df["Make"] = df["Make"].replace ("Quest aircraft company llc", "Quest")
df["Make"] = df["Make"].replace ("Raytheon aircraft company", "Raytheon")
df["Make"] = df["Make"].replace ("Raytheon corporate jets", "Raytheon")
df["Make"] = df["Make"].replace ("Remos acft gmbh flugzeugbau", "Remos aircraft gmbh")
df["Make"] = df["Make"].replace ("Rockwell international", "Rockwell")
df["Make"] = df["Make"].replace ("Ryan aeronautical", "Ryan")
df["Make"] = df["Make"].replace ("Schweizer aircraft corp", "Schweizer")
df["Make"] = df["Make"].replace ("Stearman aircraft", "Stearman")
df["Make"] = df["Make"].replace ("Taylorcraft aviation corp", "Taylorcraft")
df["Make"] = df["Make"].replace ("Thrush aircraft inc", "Thrush")
df["Make"] = df["Make"].replace ("Vans aircraft inc", "Vans")
df["Make"] = df["Make"].replace ("Waco classic aircraft", "Waco")
df["Make"] = df["Make"].replace ("Weatherly aviation co inc", "Weatherly")

In [ ]:
df['Make'].value_counts()

In [ ]:
#Creation of a combined make and model column
df['Make.Model'] = df['Make']+ ' ' + df['Model']

In [ ]:
# Review the top 50 makes and models
df['Make.Model'].value_counts()[:50]

In [ ]:
df['Total.Fatal.Injuries'].value_counts()

In [ ]:
# This creates a new column with "yes" for if the make is boeing or airbus and "no" for everything else.
df["Commercial"] = "No"
df.loc[df["Make"].isin(["Boeing", "Airbus"]), "Commercial"] = "Yes"

In [ ]:
#df["Fatal"] = pd.notna(df["Total.Fatal.Injuries"]).astype(int)
df["Fatal"] = np.where((df["Total.Fatal.Injuries"].isna()) | (df["Total.Fatal.Injuries"] == 0), 0, 1)

In [ ]:
df['Fatal'].value_counts()

In [ ]:
df.head()

In [ ]:
df['Make'].value_counts()[:40]

In [ ]:
Boeing_flights = df.loc[df["Make"] == "Boeing"].index
print(Boeing_flights)

In [ ]:
df['Commercial'].value_counts()

In [ ]:
#This is grouping our make.model column with the total.fatal.injuries column. 
#It is also declaring a variable to be equal to the make.models with the top 5 most fatalities
MakeModel_fatalities = df.groupby('Make.Model')['Total.Fatal.Injuries'].sum()

top_5_MakeModel_by_fatalities = MakeModel_fatalities.sort_values(ascending=False).head(5)

print(top_5_MakeModel_by_fatalities)

In [ ]:
#This is declaring variables which will be used for the bar graph axis below after grouping them above. 
make_model_names = top_5_MakeModel_by_fatalities.index
fatal_injuries = top_5_MakeModel_by_fatalities.values

In [ ]:
#Bar Chart Showing the Top 5 Make.Models by total Fatalities (All are commercial)
plt.figure(figsize=(12, 6))
plt.bar(make_model_names, fatal_injuries, color='skyblue', edgecolor='black', alpha=0.7)
plt.xlabel('Make and Model')
plt.ylabel('Total Fatal Injuries')
plt.title('Top 5 Aircraft Makes and Models by Total Fatal Injuries')
plt.xticks(rotation=0, ha='center');

In [ ]:
Commercial_Flights = df[df['Commercial'] == 'Yes']
Totaled_Commercial_Fatalities_by_Make = Commercial_Flights.groupby('Make')['Fatal'].sum()
Totaled_Commercial_Fatalities_by_Make.tail(5)
#This groups the sum of Fatal values equal to 1 based on the Make with a Commercial value of Yes

In [ ]:
Boeing_Occurances = 408
Boeing_Fatality_Occurance = 14
Airbus_Occurances = 109
Airbus_Fatality_Occurances = 1

Boeing_Average_Fatality_Occurance = Boeing_Fatality_Occurance/Boeing_Occurances
Airbus_Average_Fatality_Occurance = Airbus_Fatality_Occurances/Airbus_Occurances

print(Boeing_Average_Fatality_Occurance)
print(Airbus_Average_Fatality_Occurance)

In [ ]:
#this is William's original cell
Boeing_Occurances = 1215
Boeing_Fatality_Occurance = 108
Airbus_Occurances = 244
Airbus_Fatality_Occurances = 22

Boeing_Average_Fatality_Occurance = Boeing_Fatality_Occurance/Boeing_Occurances
Airbus_Average_Fatality_Occurance = Airbus_Fatality_Occurances/Airbus_Occurances

print(Boeing_Average_Fatality_Occurance)
print(Airbus_Average_Fatality_Occurance)

#we can see here that 8.8% of the time Boeing Accidents will have Fatalities
#we can see here that 9% of the time Airbus will have Fatalities

In [ ]:
#Hard coding Airbus vs Boeing for the visual
makes = ["Airbus", "Boeing"]
totaled_fatalities_occurence = [1, 14]

plt.figure(figsize=(8, 6))
plt.bar(makes, totaled_fatalities_occurence, color=["skyblue", "salmon"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Total Fatalities", fontsize=14)
plt.title("Total Fatalities for Commercial Flights", fontsize=16)
plt.ylim(0, 20)
plt.yticks(range(0, 20, 2));

In [ ]:
# We can see above that boeing has a lot more occurances of fatal accidents than Airbus. 
# But what is important is comparing the occurances of fatal accidents by the sample size. 
makes = ["Airbus", "Boeing"]
fatalities_occurance_averages = [Airbus_Average_Fatality_Occurance*100, Boeing_Average_Fatality_Occurance*100]

plt.figure(figsize=(10, 10))
plt.bar(makes, fatalities_occurance_averages, color=["skyblue", "salmon"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Percent Fatalities", fontsize=14)
plt.title("Percent of Commercial Flight Accidents Resulting in at least one Fatality", fontsize=16)
plt.ylim(0, 5)
plt.yticks(range(0, 5, 1))
plt.grid(axis='y', linestyle='--');

In [ ]:
#It is difficult to see, but Airbus at 9% and Boeing is at 8.8%  
#Therefore we can recommend Boeing as the Safest Commercial Maker adjusted for the limitations in the dataset.

In [ ]:
Private_Flights_Minor_Damage = df[(df['Commercial'] == 'No') & (df['Aircraft.damage'] == 'Minor')]
Private_Flights_Minor_Damage_MostCommon = Private_Flights_Minor_Damage['Make'].value_counts().nlargest(20)
#This is giving us the top 20 most commonly occuring Makes by Minor Damage so we can get the average.

In [ ]:
Private_Flights_Minor_Damage_MostCommon
#As we can see below Cessna has 59 occurences, Piper has 27 occurences, Bombardier has 21 occurences

In [ ]:
#Cessna occurs 7088 
#Piper occurs 3950 
#Bombardier occurs 123
#We can find average occurance of minor damages by accidents
Cessna = (59/6384) * 100
Piper = (27/3614) * 100
Bombardier = (21/94) * 100


print(Cessna)
print(Piper)
print(Bombardier)

In [ ]:
Private_Flights_Destroyed_Damage = df[(df['Commercial'] == 'No') & (df['Aircraft.damage'] == 'Destroyed')]
Private_Flights_Destroyed_MostCommon = Private_Flights_Destroyed_Damage['Make'].value_counts().nlargest(40)

In [ ]:
df["Aircraft.damage"].value_counts()

In [ ]:
Private_Flights_Destroyed_MostCommon

In [ ]:
#This is going to look up Bombardier directly
Bombardier_Destroyed = df[(df['Make'] == 'Bombardier') & (df['Aircraft.damage'] == 'Destroyed') & (df['Commercial'] == 'No')]
Total_Bomb_Destroyed = len(Bombardier_Destroyed)
Total_Bomb_Destroyed

In [ ]:
#Since Embraer and Mcdonnel have less than 200 entries in the data set lets only using Cessna, Piper, and Beech
makes = ["Cessna", "Piper", "Bombardier"]
minor_dmg_occurence_averages = [Cessna, Piper, Bombardier]

plt.figure(figsize=(10, 10))
plt.bar(makes, minor_dmg_occurence_averages, color=["lightblue", "blue", "purple"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Percent of Minor Damages", fontsize=14)
plt.title("Percent of Private Flight Accidents Resulting in Minor Damages",fontsize=16)
plt.ylim(0, 25)
plt.yticks(range(0, 25, 2))
plt.grid(axis='y', linestyle='--');

In [ ]:
#now I need to calculate the averages of Destroyed data occurence
Cessna_Destroyed = (401/6384)*100
Piper_Destroyed = (297/3614)*100
Bombardier_Destroyed = (2/94)*100

print(Cessna_Destroyed)
print(Piper_Destroyed)
print(Bombardier_Destroyed)

#I notice that Cessna has the lowest average for destroyed damage types and the second highest

In [ ]:
makes = ["Piper", "Cessna", "Bombardier"]
destroyed_dmg_occurence_averages = [Piper_Destroyed, Cessna_Destroyed, Bombardier_Destroyed]

plt.figure(figsize=(10, 10))
plt.bar(makes, destroyed_dmg_occurence_averages, color=["blue", "lightblue", "purple"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Percent Destroyed", fontsize=14)
plt.title("Percent of Private Flight Accidents Resulting in Airplane Destruction", fontsize=16)
plt.ylim(0, 10)
plt.yticks(range(0, 10, 1))
plt.grid(axis='y', linestyle='--');

In [ ]:
#Now we gotta compared the Avearges of Minor Damage and Destroyed for Commercial Flights
Commercial_Flights_Minor_Damage = df[(df['Commercial'] == 'Yes') & (df['Aircraft.damage'] == 'Minor')]
Commercial_Flights_Minor_Damage_Totaled = Commercial_Flights_Minor_Damage['Make'].value_counts().nlargest()
Commercial_Flights_Minor_Damage_Totaled

In [ ]:
#Boeing has 1215 occurences in the filtered data set and 39 of those had minor damages
#Airbus has 244 occurences in the filtered data set and 6 of those had minor damages
#Lets find the averages
Boeing_Minor = (69/1215)*100
Airbus_Minor = (33/244)*100

print(Boeing_Minor)
print(Airbus_Minor)

In [ ]:
makes = ["Airbus", "Boeing"]
Commercial_MinorDmg_occurance_averages = [Airbus_Minor, Boeing_Minor]
plt.figure(figsize=(10, 10))
plt.bar(makes, Commercial_MinorDmg_occurance_averages, color=["skyblue", "salmon"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Percent of Minor Damages", fontsize=14)
plt.title("Percentage of Commercial Flights Resulting in Minor Damages", fontsize=16)
plt.ylim(0, 15)
plt.yticks(range(0, 15, 1))
plt.grid(axis='y', linestyle='--');

In [ ]:
Commercial_Flights_Destroyed_Damage = df[(df['Commercial'] == 'Yes') & (df['Aircraft.damage'] == 'Destroyed')]
Commercial_Flights_Destroyed_Damage_Totaled = Commercial_Flights_Destroyed_Damage['Make'].value_counts().nlargest()
Commercial_Flights_Destroyed_Damage_Totaled

In [ ]:
#As we can see airbus was only destroyed 1 time out of 244 while Boeing was destroyed 12 times out of 1215
Boeing_Destroyed = (10/1215) *100
Airbus_Destroyed = (1/244) *100

print(Boeing_Destroyed)

In [ ]:

makes = ["Airbus", "Boeing"]
Commercial_DestroyedDmg_occurance_averages = [Airbus_Destroyed, Boeing_Destroyed]
plt.figure(figsize=(10, 10))
plt.bar(makes, Commercial_DestroyedDmg_occurance_averages, color=["skyblue", "salmon"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Percent Destroyed", fontsize=14)
plt.title("Percentage of Commercial Flights Resulting in Total Destruction", fontsize=16)
plt.ylim(0, 2)
plt.yticks(range(0, 2, 1))
plt.grid(axis='y', linestyle='--');

In [ ]:
#Since the averages are so small I think our graph should show the number of occurences: Boeing = 12 and Airbus = 1
#The exporatory data can be left here with our description
#In the explanatory presentation we can explain what the 12 and the 1 mean

makes = ["Airbus", "Boeing"]
Commercial_DestroyedDmg_occurance_averages = [1, 10]
plt.figure(figsize=(10, 10))
plt.bar(makes, Commercial_DestroyedDmg_occurance_averages, color=["skyblue", "salmon"], edgecolor='black')
plt.xlabel("Airplane Makes", fontsize=14)
plt.ylabel("Total Destroyed Damage Occurance", fontsize=14)
plt.title("Total Destroyed Damage Occurance for Commercial Flights", fontsize=16)
plt.ylim(0, 12)
plt.yticks(range(0, 12, 1))
plt.grid(axis='y', linestyle='--');