# Exploratory Notebook for Aviation Project, Group 4

In [2]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [4]:
df['Event.Year'] = pd.DatetimeIndex(df['Event.Date']).year

In [5]:
df = df[df['Event.Year'] >= 2000]

In [6]:
df["Fatal"] = pd.notna(df["Total.Fatal.Injuries"]).astype(int)

In [7]:
df = df.drop(columns=['Latitude', 'Longitude', 'Report.Status', 'Country', 'Airport.Code', 
                'Airport.Name', 'Registration.Number', 'Number.of.Engines', 'Engine.Type',
                'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight',
                'Report.Status', 'Publication.Date', 'Location'])

In [8]:
df.drop(df.index[df["Aircraft.Category"] != "Airplane"], inplace=True)

In [9]:
df.drop(df.index[df["Amateur.Built"] == "Yes"], inplace=True)
df.drop(df.index[df['Make'].isna()], inplace = True)
df.drop(df.index[df['Model'].isna()], inplace =True)

In [10]:
df["Commercial"] = "No"
df.loc[df["Make"].isin(["Boeing", "Airbus"]), "Commercial"] = "Yes"
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year,Fatal,Commercial
47682,20001212X20342,Incident,DCA00WA018,2000-01-02,Incident,Minor,Airplane,Boeing,737-3K2,No,Unknown,NaN,NaN,NaN,143.0,UNK,2000,0,Yes
47779,20001212X20343,Accident,DCA00WA022,2000-01-30,Fatal(169),Destroyed,Airplane,Airbus Industrie,A 310,No,Unknown,169.0,NaN,10.0,NaN,UNK,2000,1,No
47845,20001212X20475,Accident,DCA00WA025,2000-02-12,Non-Fatal,Destroyed,Airplane,Boeing,B 727-100,No,Unknown,NaN,NaN,NaN,7.0,IMC,2000,0,Yes
47864,20001212X20487,Accident,FTW00FA083B,2000-02-16,Fatal(1),Substantial,Airplane,Cessna,208B,No,Unknown,1.0,NaN,NaN,1.0,VMC,2000,1,No
47869,20001212X20487,Accident,FTW00FA083A,2000-02-16,Fatal(1),Destroyed,Airplane,Cessna,182M,No,Personal,1.0,NaN,NaN,1.0,VMC,2000,1,No

In [11]:
df['Make'].value_counts()

CESSNA                            4864
PIPER                             2802
Cessna                            2224
Piper                             1148
BOEING                            1034
                                  ...
Diamond Aicraft Industries Inc       1
Liberty Aerospace                    1
GOODYEAR                             1
SACHSE STEPHAN                       1
CIRRUS DESIGN                        1
Name: Make, Length: 1331, dtype: int64

In [12]:
df['Make'] = df['Make'].astype(str)

In [13]:
df['Make'] = df['Make'].str.capitalize()

In [14]:
#replacing name spelling and differences for the top 200 makes as needed.
df["Make"] = df["Make"].replace ("Air tractor inc", "Air tractor")
df["Make"] = df["Make"].replace ("Air tractor inc.", "Air tractor")
df["Make"] = df["Make"].replace ("Airbus industrie", "Airbus")
df["Make"] = df["Make"].replace ("American aviation", "American")
df["Make"] = df["Make"].replace ("American aviation corp. (aac)", "American")
df["Make"] = df["Make"].replace ("American champion (acac)", "American champion")
df["Make"] = df["Make"].replace ("American champion aircraft)", "American champion")
df["Make"] = df["Make"].replace ("American legend aircraft co", "American legend")
df["Make"] = df["Make"].replace ("Aviat aircraft inc", "Aviat")
df["Make"] = df["Make"].replace ("Aviat inc", "Aviat")
df["Make"] = df["Make"].replace ("Ayres corporation", "Ayres")
df["Make"] = df["Make"].replace ("Boeing stearman", "Boeing")
df["Make"] = df["Make"].replace ("Boeing company", "Boeing")
df["Make"] = df["Make"].replace ("The boeing company", "Boeing")
df["Make"] = df["Make"].replace ("Bombardier, inc.", "Bombardier")
df["Make"] = df["Make"].replace ("Britten-norman", "Britten norman")
df["Make"] = df["Make"].replace ("Cessna aircraft", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft co", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft company", "Cessna")
df["Make"] = df["Make"].replace ("Christen industries inc", "Christen industries")
df["Make"] = df["Make"].replace ("Cirrus design corp.", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corp", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corporation", "Cirrus")
df["Make"] = df["Make"].replace ("Cub crafters", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cub crafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cubcrafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Dassault-breguet", "Dassault")
df["Make"] = df["Make"].replace ("De havilland", "Dehavilland")
df["Make"] = df["Make"].replace ("Diamond aircraft ind gmbh", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft ind inc", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft industries", "Diamond")
df["Make"] = df["Make"].replace ("Embraer-empresa brasileira de", "Embraer")
df["Make"] = df["Make"].replace ("Embraer s a", "Embraer")
df["Make"] = df["Make"].replace ("Ercoupe (eng & research corp.)", "Ercoupe")
df["Make"] = df["Make"].replace ("Flight design gmbh", "Flight design")
df["Make"] = df["Make"].replace ("Gates learjet corp.", "Gates lear jet")
df["Make"] = df["Make"].replace ("Grumman american", "Grumman")
df["Make"] = df["Make"].replace ("Grumman acft eng cor-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Grumman american avn. corp.", "Grumman")
df["Make"] = df["Make"].replace ("Grumman-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer a/c corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream american corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream aerospace", "Gulfstream")
df["Make"] = df["Make"].replace ("Hawker beechcraft", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp.", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corporation", "Hawker")
df["Make"] = df["Make"].replace ("Hawker siddeley", "Hawker")
df["Make"] = df["Make"].replace ("Jabiru usa sport aircraft llc", "Jabiru")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Learjet inc", "Learjet")
df["Make"] = df["Make"].replace ("Liberty aerospace incorporated", "Liberty aerospace inc.")
df["Make"] = df["Make"].replace ("Mcdonnell douglas aircraft co", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Douglas", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Mooney aircraft corp.", "Mooney")
df["Make"] = df["Make"].replace ("Mooney airplane co inc", "Mooney")
df["Make"] = df["Make"].replace ("Nanchang china", "Nanchang")
df["Make"] = df["Make"].replace ("Pilatus aircraft ltd", "Pilatus")
df["Make"] = df["Make"].replace ("Piper aircraft inc", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft corporation", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft", "Piper")
df["Make"] = df["Make"].replace ("Piper/cub crafters", "Piper")
df["Make"] = df["Make"].replace ("Quest aircraft company llc", "Quest")
df["Make"] = df["Make"].replace ("Raytheon aircraft company", "Raytheon")
df["Make"] = df["Make"].replace ("Raytheon corporate jets", "Raytheon")
df["Make"] = df["Make"].replace ("Remos acft gmbh flugzeugbau", "Remos aircraft gmbh")
df["Make"] = df["Make"].replace ("Rockwell international", "Rockwell")
df["Make"] = df["Make"].replace ("Ryan aeronautical", "Ryan")
df["Make"] = df["Make"].replace ("Schweizer aircraft corp", "Schweizer")
df["Make"] = df["Make"].replace ("Stearman aircraft", "Stearman")
df["Make"] = df["Make"].replace ("Taylorcraft aviation corp", "Taylorcraft")
df["Make"] = df["Make"].replace ("Thrush aircraft inc", "Thrush")
df["Make"] = df["Make"].replace ("Vans aircraft inc", "Vans")
df["Make"] = df["Make"].replace ("Waco classic aircraft", "Waco")
df["Make"] = df["Make"].replace ("Weatherly aviation co inc", "Weatherly")

In [15]:
df['Make'].value_counts()

Cessna                            7133
Piper                             4000
Beech                             1408
Boeing                            1237
Air tractor                        431
                                  ...
Gates learjet corporation            1
Kaman                                1
Jones peter m                        1
Knott vernon w                       1
Cobalt aircraft industries inc       1
Name: Make, Length: 1010, dtype: int64

In [16]:
df['Make.Model'] = df['Make']+ ' ' + df['Model']

In [17]:
df["Fatal"].value_counts()

1    18588
0     2599
Name: Fatal, dtype: int64

In [20]:
counts = df.groupby(["Fatal", "Commercial"]).size()
print(counts)

Fatal  Commercial
0      No             2519
       Yes              80
1      No            18458
       Yes             130
dtype: int64

In [19]:
df["Commercial"].value_counts()

No     20977
Yes      210
Name: Commercial, dtype: int64

In [22]:
df.to_csv("data/AviationFinalData.csv", encoding='ISO-8859-1', index=False)