# Exploratory Notebook for Aviation Project, Group 4

In [468]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [469]:
# Loading the data set 
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

In [470]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [471]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [472]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [473]:
#    commenting this out for now   

#This is not especially  helpful. It seemed more efficient than looking at each var 1 by 1, but it's too much info to weed through all together.
  
#for v in df.columns:
 #   print(df[v].value_counts())

In [474]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [475]:
df['Event.Year'] = pd.DatetimeIndex(df['Event.Date']).year

In [476]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [477]:
df = df[df['Event.Year'] >= 2000]

In [478]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
47675,20001212X20407,Accident,MIA00LA063,2000-01-01,"HOMESTEAD, FL",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,29-11-2000,2000
47676,20001212X20327,Accident,ATL00FA019,2000-01-01,"MONTEAGLE, TN",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,19-04-2001,2000
47677,20001212X20383,Accident,LAX00LA063,2000-01-02,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,04-12-2000,2000
47678,20001212X20382,Accident,LAX00LA062,2000-01-02,"DOS PALOS, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,VMC,Cruise,Probable Cause,14-12-2001,2000
47679,20001212X20364,Accident,FTW00LA067,2000-01-02,"CORNING, AR",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,5.0,VMC,Cruise,Probable Cause,02-03-2001,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [479]:
df = df.drop(columns=['Latitude', 'Longitude', 'Report.Status', 'Airport.Code', 
                'Airport.Name', 'Registration.Number', 'Number.of.Engines', 'Engine.Type',
                'FAR.Description', 'Schedule', 'Air.carrier', 'Broad.phase.of.flight',
                'Report.Status', 'Publication.Date', 'Location'])

In [480]:
df['Make'].value_counts()

Cessna                         5666
CESSNA                         4922
Piper                          3075
PIPER                          2841
Beech                          1212
                               ...
ULTRALITE SRO                     1
NICHOLSON DAVID F                 1
ROTORCRAFT DEVELOPMENT CORP       1
COVELL KEVIN SCOTT                1
Cabri                             1
Name: Make, Length: 5811, dtype: int64

In [481]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41214 entries, 47675 to 88888
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                41214 non-null  object
 1   Investigation.Type      41214 non-null  object
 2   Accident.Number         41214 non-null  object
 3   Event.Date              41214 non-null  object
 4   Country                 41198 non-null  object
 5   Injury.Severity         40214 non-null  object
 6   Aircraft.damage         39146 non-null  object
 7   Aircraft.Category       28406 non-null  object
 8   Make                    41159 non-null  object
 9   Model                   41146 non-null  object
 10  Amateur.Built           41114 non-null  object
 11  Purpose.of.flight       35122 non-null  object
 12  Total.Fatal.Injuries    30131 non-null  float64
 13  Total.Serious.Injuries  29120 non-null  float64
 14  Total.Minor.Injuries    29701 non-null  float64
 15  Total.Uninjured         35574 non-null  float64
 16  Weather.Condition       36747 non-null  object
 17  Event.Year              41214 non-null  int64
dtypes: float64(4), int64(1), object(13)
memory usage: 6.0+ MB

In [482]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year
47675,20001212X20407,Accident,MIA00LA063,2000-01-01,United States,Non-Fatal,Substantial,NaN,Cessna,550,No,Positioning,0.0,0.0,0.0,3.0,VMC,2000
47676,20001212X20327,Accident,ATL00FA019,2000-01-01,United States,Fatal(2),Destroyed,NaN,Bellanca,BL-17-30A,No,Personal,2.0,0.0,0.0,0.0,IMC,2000
47677,20001212X20383,Accident,LAX00LA063,2000-01-02,United States,Non-Fatal,Substantial,NaN,Cessna,172G,No,Personal,0.0,0.0,0.0,2.0,VMC,2000
47678,20001212X20382,Accident,LAX00LA062,2000-01-02,United States,Non-Fatal,Substantial,NaN,Cessna,172A,No,Instructional,0.0,0.0,1.0,0.0,VMC,2000
47679,20001212X20364,Accident,FTW00LA067,2000-01-02,United States,Non-Fatal,Substantial,NaN,Piper,PA-46-310P,No,Personal,0.0,0.0,0.0,5.0,VMC,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,United States,Minor,NaN,NaN,PIPER,PA-28-151,No,Personal,0.0,1.0,0.0,0.0,NaN,2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,United States,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,0.0,0.0,0.0,0.0,NaN,2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,United States,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,Personal,0.0,0.0,0.0,1.0,VMC,2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,United States,NaN,NaN,NaN,CESSNA,210N,No,Personal,0.0,0.0,0.0,0.0,NaN,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,United States,Minor,NaN,NaN,PIPER,PA-24-260,No,Personal,0.0,1.0,0.0,1.0,NaN,2022

In [483]:
# Removing any aircrafts that were amateur built
df.drop(df.index[df["Amateur.Built"] == "Yes"], inplace=True) 
# Removing any countries outside of the United States
df.drop(df.index[df["Country"] != "United States"], inplace=True)
# Removing any aircrafts that are not categorized under airplane
df.drop(df.index[df["Aircraft.Category"] != "Airplane"], inplace=True)
# Removing any aircrafts that are missing either the make or the model
df.drop(df.index[df['Make'].isna()], inplace = True)
df.drop(df.index[df['Model'].isna()], inplace =True)

In [484]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18017 entries, 47864 to 88886
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                18017 non-null  object
 1   Investigation.Type      18017 non-null  object
 2   Accident.Number         18017 non-null  object
 3   Event.Date              18017 non-null  object
 4   Country                 18017 non-null  object
 5   Injury.Severity         17936 non-null  object
 6   Aircraft.damage         17590 non-null  object
 7   Aircraft.Category       18017 non-null  object
 8   Make                    18017 non-null  object
 9   Model                   18017 non-null  object
 10  Amateur.Built           18014 non-null  object
 11  Purpose.of.flight       16797 non-null  object
 12  Total.Fatal.Injuries    15520 non-null  float64
 13  Total.Serious.Injuries  15566 non-null  float64
 14  Total.Minor.Injuries    15849 non-null  float64
 15  Total.Uninjured         17537 non-null  float64
 16  Weather.Condition       17589 non-null  object
 17  Event.Year              18017 non-null  int64
dtypes: float64(4), int64(1), object(13)
memory usage: 2.6+ MB

In [485]:
df.isna().sum()

Event.Id                     0
Investigation.Type           0
Accident.Number              0
Event.Date                   0
Country                      0
Injury.Severity             81
Aircraft.damage            427
Aircraft.Category            0
Make                         0
Model                        0
Amateur.Built                3
Purpose.of.flight         1220
Total.Fatal.Injuries      2497
Total.Serious.Injuries    2451
Total.Minor.Injuries      2168
Total.Uninjured            480
Weather.Condition          428
Event.Year                   0
dtype: int64

In [486]:
df['Make'] = df['Make'].astype(str)
df['Make'] = df['Make'].str.capitalize()

In [487]:
df['Model'] = df['Model'].astype(str)
df['Model'] = df['Model'].str.upper()

In [488]:
df["Make"] = df["Make"].replace ("Air tractor inc", "Air tractor")
df["Make"] = df["Make"].replace ("Air tractor inc.", "Air tractor")
df["Make"] = df["Make"].replace ("Airbus industrie", "Airbus")
df["Make"] = df["Make"].replace ("American aviation", "American")
df["Make"] = df["Make"].replace ("American aviation corp. (aac)", "American")
df["Make"] = df["Make"].replace ("American champion (acac)", "American champion")
df["Make"] = df["Make"].replace ("American champion aircraft)", "American champion")
df["Make"] = df["Make"].replace ("American legend aircraft co", "American legend")
df["Make"] = df["Make"].replace ("Aviat aircraft inc", "Aviat")
df["Make"] = df["Make"].replace ("Aviat inc", "Aviat")
df["Make"] = df["Make"].replace ("Ayres corporation", "Ayres")
df["Make"] = df["Make"].replace ("Boeing stearman", "Boeing")
df["Make"] = df["Make"].replace ("Boeing company", "Boeing")
df["Make"] = df["Make"].replace ("The boeing company", "Boeing")
df["Make"] = df["Make"].replace ("Bombardier, inc.", "Bombardier")
df["Make"] = df["Make"].replace ("Britten-norman", "Britten norman")
df["Make"] = df["Make"].replace ("Cessna aircraft", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft co", "Cessna")
df["Make"] = df["Make"].replace ("Cessna aircraft company", "Cessna")
df["Make"] = df["Make"].replace ("Christen industries inc", "Christen industries")
df["Make"] = df["Make"].replace ("Cirrus design corp.", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corp", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design", "Cirrus")
df["Make"] = df["Make"].replace ("Cirrus design corporation", "Cirrus")
df["Make"] = df["Make"].replace ("Cub crafters", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cub crafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Cubcrafters inc", "Cubcrafters")
df["Make"] = df["Make"].replace ("Dassault-breguet", "Dassault")
df["Make"] = df["Make"].replace ("De havilland", "Dehavilland")
df["Make"] = df["Make"].replace ("Diamond aircraft ind gmbh", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft ind inc", "Diamond")
df["Make"] = df["Make"].replace ("Diamond aircraft industries", "Diamond")
df["Make"] = df["Make"].replace ("Embraer-empresa brasileira de", "Embraer")
df["Make"] = df["Make"].replace ("Embraer s a", "Embraer")
df["Make"] = df["Make"].replace ("Ercoupe (eng & research corp.)", "Ercoupe")
df["Make"] = df["Make"].replace ("Flight design gmbh", "Flight design")
df["Make"] = df["Make"].replace ("Gates learjet corp.", "Gates lear jet")
df["Make"] = df["Make"].replace ("Grumman american", "Grumman")
df["Make"] = df["Make"].replace ("Grumman acft eng cor-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Grumman american avn. corp.", "Grumman")
df["Make"] = df["Make"].replace ("Grumman-schweizer", "Grumman")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer a/c corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream-schweizer", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream american corp", "Gulfstream")
df["Make"] = df["Make"].replace ("Gulfstream aerospace", "Gulfstream")
df["Make"] = df["Make"].replace ("Hawker beechcraft", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corp.", "Hawker")
df["Make"] = df["Make"].replace ("Hawker beechcraft corporation", "Hawker")
df["Make"] = df["Make"].replace ("Hawker siddeley", "Hawker")
df["Make"] = df["Make"].replace ("Jabiru usa sport aircraft llc", "Jabiru")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Learjet inc", "Learjet")
df["Make"] = df["Make"].replace ("Liberty aerospace incorporated", "Liberty aerospace inc.")
df["Make"] = df["Make"].replace ("Mcdonnell douglas aircraft co", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Douglas", "Mcdonnell douglas")
df["Make"] = df["Make"].replace ("Lancair company", "Lancair")
df["Make"] = df["Make"].replace ("Mooney aircraft corp.", "Mooney")
df["Make"] = df["Make"].replace ("Mooney airplane co inc", "Mooney")
df["Make"] = df["Make"].replace ("Nanchang china", "Nanchang")
df["Make"] = df["Make"].replace ("Pilatus aircraft ltd", "Pilatus")
df["Make"] = df["Make"].replace ("Piper aircraft inc", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft corporation", "Piper")
df["Make"] = df["Make"].replace ("Piper aircraft", "Piper")
df["Make"] = df["Make"].replace ("Piper/cub crafters", "Piper")
df["Make"] = df["Make"].replace ("Quest aircraft company llc", "Quest")
df["Make"] = df["Make"].replace ("Raytheon aircraft company", "Raytheon")
df["Make"] = df["Make"].replace ("Raytheon corporate jets", "Raytheon")
df["Make"] = df["Make"].replace ("Remos acft gmbh flugzeugbau", "Remos aircraft gmbh")
df["Make"] = df["Make"].replace ("Rockwell international", "Rockwell")
df["Make"] = df["Make"].replace ("Ryan aeronautical", "Ryan")
df["Make"] = df["Make"].replace ("Schweizer aircraft corp", "Schweizer")
df["Make"] = df["Make"].replace ("Stearman aircraft", "Stearman")
df["Make"] = df["Make"].replace ("Taylorcraft aviation corp", "Taylorcraft")
df["Make"] = df["Make"].replace ("Thrush aircraft inc", "Thrush")
df["Make"] = df["Make"].replace ("Vans aircraft inc", "Vans")
df["Make"] = df["Make"].replace ("Waco classic aircraft", "Waco")
df["Make"] = df["Make"].replace ("Weatherly aviation co inc", "Weatherly")

In [489]:
df['Make'].value_counts()

Cessna               6384
Piper                3614
Beech                1253
Boeing                408
Air tractor           395
                     ...
Reed mike               1
Emory b. wood           1
Newgent, barry          1
Partenavia s.p.a.       1
Team inc                1
Name: Make, Length: 899, dtype: int64

In [490]:
df['Make.Model'] = df['Make']+ ' ' + df['Model']

In [491]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year,Make.Model
47864,20001212X20487,Accident,FTW00FA083B,2000-02-16,United States,Fatal(1),Substantial,Airplane,Cessna,208B,No,Unknown,1.0,NaN,NaN,1.0,VMC,2000,Cessna 208B
47869,20001212X20487,Accident,FTW00FA083A,2000-02-16,United States,Fatal(1),Destroyed,Airplane,Cessna,182M,No,Personal,1.0,NaN,NaN,1.0,VMC,2000,Cessna 182M
47870,20001212X20472,Accident,DCA00MA026,2000-02-16,United States,Fatal(3),Destroyed,Airplane,Mcdonnell douglas,DC-8-71F,No,NaN,3.0,NaN,NaN,NaN,VMC,2000,Mcdonnell douglas DC-8-71F
47942,20001212X20606,Accident,DCA00MA030,2000-03-05,United States,Non-Fatal,Destroyed,Airplane,Boeing,737-300,No,Unknown,NaN,2.0,42.0,98.0,VMC,2000,Boeing 737-300
48128,20001212X20873,Accident,MIA00FA129,2000-04-05,United States,Fatal(3),Destroyed,Airplane,Learjet,35A,No,Instructional,3.0,NaN,NaN,NaN,VMC,2000,Learjet 35A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88869,20221213106455,Accident,WPR23LA065,2022-12-13,United States,Non-Fatal,Substantial,Airplane,Piper,PA42,No,NaN,0.0,0.0,0.0,1.0,NaN,2022,Piper PA42
88873,20221215106463,Accident,ERA23LA090,2022-12-14,United States,Non-Fatal,Substantial,Airplane,Cirrus,SR22,No,Personal,0.0,0.0,0.0,1.0,VMC,2022,Cirrus SR22
88876,20221219106475,Accident,WPR23LA069,2022-12-15,United States,Non-Fatal,Substantial,Airplane,Swearingen,SA226TC,No,NaN,0.0,0.0,0.0,1.0,NaN,2022,Swearingen SA226TC
88877,20221219106470,Accident,ERA23LA091,2022-12-16,United States,Minor,Substantial,Airplane,Cessna,R172K,No,Personal,0.0,1.0,0.0,0.0,VMC,2022,Cessna R172K
88886,20221227106497,Accident,WPR23LA075,2022-12-26,United States,Non-Fatal,Substantial,Airplane,American champion aircraft,8GCBC,No,Personal,0.0,0.0,0.0,1.0,VMC,2022,American champion aircraft 8GCBC

In [492]:
df['Make.Model'].value_counts()[:50]

Cessna 172          672
Cessna 152          290
Cessna 172S         272
Cessna 182          244
Cessna 172N         237
Piper PA28          232
Cirrus SR22         220
Cessna 180          211
Cessna 172M         174
Piper PA-18-150     173
Piper PA-28-140     154
Beech A36           153
Cessna 150          146
Cessna 172P         140
Cessna 140          114
Cessna 172R         107
Cessna 170B         106
Piper PA-28-180     102
Piper PA-28-161     101
Piper PA-28-181      89
Aeronca 7AC          89
Cessna A185F         89
Mooney M20J          89
Piper PA18           83
Piper PA-18          78
Cessna 182P          76
Cessna 177           73
Cessna 170           73
Cessna 150L          72
Piper PA-12          72
Cirrus SR20          70
Cessna 210           69
Cessna 150M          66
Piper PA-22-150      65
Cessna A185          63
Luscombe 8A          61
Cessna 208B          61
Mooney M20C          60
Cessna 120           59
Piper J3C-65         59
Piper PA 18-150      58
Beech 58             57
Cessna 182Q          56
Piper PA-30          55
Piper PA-24-250      55
Piper PA28R          55
Piper PA32           54
Piper PA-28R-200     54
Cessna 172K          53
Stinson 108          53
Name: Make.Model, dtype: int64

In [493]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18017 entries, 47864 to 88886
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                18017 non-null  object
 1   Investigation.Type      18017 non-null  object
 2   Accident.Number         18017 non-null  object
 3   Event.Date              18017 non-null  object
 4   Country                 18017 non-null  object
 5   Injury.Severity         17936 non-null  object
 6   Aircraft.damage         17590 non-null  object
 7   Aircraft.Category       18017 non-null  object
 8   Make                    18017 non-null  object
 9   Model                   18017 non-null  object
 10  Amateur.Built           18014 non-null  object
 11  Purpose.of.flight       16797 non-null  object
 12  Total.Fatal.Injuries    15520 non-null  float64
 13  Total.Serious.Injuries  15566 non-null  float64
 14  Total.Minor.Injuries    15849 non-null  float64
 15  Total.Uninjured         17537 non-null  float64
 16  Weather.Condition       17589 non-null  object
 17  Event.Year              18017 non-null  int64
 18  Make.Model              18017 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 2.7+ MB

In [494]:
df['Aircraft.Category'].value_counts()

Airplane    18017
Name: Aircraft.Category, dtype: int64

In [495]:
df['Total.Fatal.Injuries'].value_counts()

0.0     12948
1.0      1366
2.0       759
3.0       226
4.0       133
5.0        44
6.0        20
7.0         8
10.0        5
9.0         3
8.0         3
11.0        1
14.0        1
49.0        1
13.0        1
65.0        1
Name: Total.Fatal.Injuries, dtype: int64

In [496]:
# This creates a new column with "yes" for if the make is boeing or airbus and "no" for everything else.
df["Commercial"] = "No"
df.loc[df["Make"].isin(["Boeing", "Airbus"]), "Commercial"] = "Yes"

In [497]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Event.Year,Make.Model,Commercial
47864,20001212X20487,Accident,FTW00FA083B,2000-02-16,United States,Fatal(1),Substantial,Airplane,Cessna,208B,No,Unknown,1.0,NaN,NaN,1.0,VMC,2000,Cessna 208B,No
47869,20001212X20487,Accident,FTW00FA083A,2000-02-16,United States,Fatal(1),Destroyed,Airplane,Cessna,182M,No,Personal,1.0,NaN,NaN,1.0,VMC,2000,Cessna 182M,No
47870,20001212X20472,Accident,DCA00MA026,2000-02-16,United States,Fatal(3),Destroyed,Airplane,Mcdonnell douglas,DC-8-71F,No,NaN,3.0,NaN,NaN,NaN,VMC,2000,Mcdonnell douglas DC-8-71F,No
47942,20001212X20606,Accident,DCA00MA030,2000-03-05,United States,Non-Fatal,Destroyed,Airplane,Boeing,737-300,No,Unknown,NaN,2.0,42.0,98.0,VMC,2000,Boeing 737-300,Yes
48128,20001212X20873,Accident,MIA00FA129,2000-04-05,United States,Fatal(3),Destroyed,Airplane,Learjet,35A,No,Instructional,3.0,NaN,NaN,NaN,VMC,2000,Learjet 35A,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88869,20221213106455,Accident,WPR23LA065,2022-12-13,United States,Non-Fatal,Substantial,Airplane,Piper,PA42,No,NaN,0.0,0.0,0.0,1.0,NaN,2022,Piper PA42,No
88873,20221215106463,Accident,ERA23LA090,2022-12-14,United States,Non-Fatal,Substantial,Airplane,Cirrus,SR22,No,Personal,0.0,0.0,0.0,1.0,VMC,2022,Cirrus SR22,No
88876,20221219106475,Accident,WPR23LA069,2022-12-15,United States,Non-Fatal,Substantial,Airplane,Swearingen,SA226TC,No,NaN,0.0,0.0,0.0,1.0,NaN,2022,Swearingen SA226TC,No
88877,20221219106470,Accident,ERA23LA091,2022-12-16,United States,Minor,Substantial,Airplane,Cessna,R172K,No,Personal,0.0,1.0,0.0,0.0,VMC,2022,Cessna R172K,No
88886,20221227106497,Accident,WPR23LA075,2022-12-26,United States,Non-Fatal,Substantial,Airplane,American champion aircraft,8GCBC,No,Personal,0.0,0.0,0.0,1.0,VMC,2022,American champion aircraft 8GCBC,No

In [498]:
df["Fatal"] = pd.notna(df["Total.Fatal.Injuries"]).astype(int)

In [499]:
df['Fatal'].value_counts()

1    15520
0     2497
Name: Fatal, dtype: int64