In [6]:
#Bring in packages for analysis.
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1', low_memory=False)

In [3]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [8]:
df["Event.Date"] = pd.to_datetime(df["Event.Date"])

In [ ]:
#need to recreate the Event.Year var

In [9]:
df = df[df['Event.Year'] >= 2000]

KeyError: 'Event.Year'

In [ ]:
df.isna().sum()/len(df)*100

In [41]:
#the duplicates in the Event.Id
duplicates = df[df["Event.Id"].duplicated()]
print(duplicates)

             Event.Id Investigation.Type Accident.Number  Event.Date  \
47817  20001212X20502           Accident     LAX00FA093A  2000-02-07
47826  20001212X20469           Accident     CHI00MA066A  2000-02-08
47843  20001212X20446           Accident     ATL00LA025A  2000-02-12
47862  20001212X20559           Accident     NYC00LA081B  2000-02-15
47863  20001212X20505           Accident     LAX00FA101B  2000-02-15
...               ...                ...             ...         ...
88593  20220929106019           Accident      DCA22WA214  2022-09-28
88777  20221112106276           Accident      CEN23MA034  2022-11-12
88796  20221121106336           Accident      WPR23LA041  2022-11-18
88798  20221122106340           Incident      DCA23WA071  2022-11-18
88814  20221123106354           Accident      WPR23LA045  2022-11-22

               Location        Country   Latitude    Longitude Airport.Code  \
47817        SYLMAR, CA  United States        NaN          NaN          NaN
47826          ZION, IL  United States        NaN          NaN          UGN
47843    CLEARWATER, FL  United States        NaN          NaN          CLW
47862    PARKERTOWN, OH  United States        NaN          NaN          NaN
47863  Palm Springs, CA  United States  33.833333  -116.516667          PSP
...                 ...            ...        ...          ...          ...
88593          London,   Great Britain    512820N     0002717E         EGLL
88777        Dallas, TX  United States    324026N     0965146W          RBD
88796     Las Vegas, NV  United States    361239N     1151140W          VGT
88798       Marrakech,         Morocco        NaN          NaN          NaN
88814     San Diego, CA  United States    323414N     1165825W          SDM

                        Airport.Name  ...              Air.carrier  \
47817                            NaN  ...                      NaN
47826      WAUKEGAN REGIONAL AIRPORT  ...                      NaN
47843             CLEARWATER AIRPARK  ...                      NaN
47862                            NaN  ...                      NaN
47863     Palm Springs International  ...                      NaN
...                              ...  ...                      ...
88593        London Heathrow Airport  ...                      NaN
88777               Dallas Executive  ...  Commemorative Air Force
88796                NORTH LAS VEGAS  ...       702 HELICOPTER INC
88798                            NaN  ...      Valair Private Jets
88814  Brown Field Municipal Airport  ...                U.S. Navy

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
47817                  4.0                    0.0                  0.0
47826                  3.0                    0.0                  0.0
47843                  0.0                    0.0                  0.0
47862                  0.0                    0.0                  0.0
47863                  NaN                    NaN                  3.0
...                    ...                    ...                  ...
88593                  0.0                    0.0                  0.0
88777                  6.0                    0.0                  0.0
88796                  0.0                    0.0                  0.0
88798                  0.0                    0.0                  0.0
88814                  0.0                    0.0                  0.0

      Total.Uninjured Weather.Condition Broad.phase.of.flight   Report.Status  \
47817             0.0               VMC           Maneuvering  Probable Cause
47826             0.0               VMC              Approach  Probable Cause
47843             3.0               VMC               Landing  Probable Cause
47862             3.0               VMC                 Climb  Probable Cause
47863             2.0               VMC              Approach  Probable Cause
...               ...               ...                   ...             ...
88593             2.0               NaN                   NaN             NaN
88777             0.0               VMC                   NaN             NaN
88796             3.0               VMC                   NaN             NaN
88798             0.0               NaN                   NaN             NaN
88814             4.0               VMC                   NaN             NaN

      Publication.Date Event.Year
47817       09-05-2001       2000
47826       03-05-2001       2000
47843       04-12-2000       2000
47862       19-04-2001       2000
47863       25-11-2003       2000
...                ...        ...
88593              NaN       2022
88777       30-11-2022       2022
88796       07-12-2022       2022
88798              NaN       2022
88814       22-12-2022       2022

[242 rows x 32 columns]

In [38]:
df["Injury.Severity"].value_counts()

Non-Fatal     30457
Fatal          5262
Fatal(1)       1646
Fatal(2)       1005
Incident        643
              ...
Fatal(199)        1
Fatal(26)         1
Fatal(114)        1
Fatal(121)        1
Fatal(104)        1
Name: Injury.Severity, Length: 67, dtype: int64

In [12]:
df["Investigation.Type"].value_counts()

Accident    38916
Incident     2298
Name: Investigation.Type, dtype: int64

In [32]:
df['Make'] = df['Make'].astype(str)

<ipython-input-32-2746fda6a1da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Make'] = df['Make'].astype(str)

In [33]:
df["Make"] = df["Make"].str.capitalize()

<ipython-input-33-c2cf330e70f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Make"] = df["Make"].str.capitalize()

In [28]:
df["Make"].value_counts()[:50]

Cessna                            27149
Piper                             14870
Beech                              5372
Boeing                             2745
Bell                               2722
Mooney                             1334
Robinson                           1230
Grumman                            1172
Bellanca                           1045
Hughes                              932
Schweizer                           773
Air tractor                         691
Aeronca                             636
Mcdonnell douglas                   608
Maule                               589
Champion                            519
Stinson                             439
Aero commander                      429
De havilland                        422
Luscombe                            414
Aerospatiale                        388
North american                      383
Taylorcraft                         383
Rockwell                            355
Hiller                              348
Enstrom                             296
Airbus                              291
Douglas                             281
Embraer                             238
Ayres                               238
Sikorsky                            233
Robinson helicopter                 230
Grumman american                    226
Cirrus design corp                  223
Eurocopter                          220
Air tractor inc                     219
Robinson helicopter company         194
Swearingen                          180
Airbus industrie                    164
Fairchild                           161
Ercoupe (eng & research corp.)      160
Pitts                               154
Lake                                150
Cirrus                              150
Balloon works                       147
Schleicher                          146
Mitsubishi                          145
Waco                                143
Aviat                               140
Learjet                             136
Name: Make, dtype: int64

In [16]:
df["Model"].value_counts()[:31]

152          2367
172          1756
172N         1164
PA-28-140     932
150           829
172M          798
172P          689
182           659
180           622
150M          585
PA-18         581
PA-18-150     578
PA-28-180     572
PA-28-161     569
PA-28-181     532
206B          524
737           489
PA-38-112     469
150L          461
G-164A        460
A36           450
G-164B        420
140           402
206           390
170B          389
172S          373
R44           361
182P          356
PA-32-300     356
PA-24-250     352
269C          341
Name: Model, dtype: int64

In [10]:
df["Purpose.of.flight"].value_counts()

Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [10]:
df["Amateur.Built"].value_counts()

No     36442
Yes     4672
Name: Amateur.Built, dtype: int64

In [9]:
df["Aircraft.Category"].value_counts()

Airplane             24164
Helicopter            3112
Glider                 455
Balloon                201
Weight-Shift           161
Gyrocraft              158
Powered Parachute       91
Ultralight              29
Unknown                 13
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [8]:
df["Purpose.of.flight"].value_counts()

Personal                     22637
Instructional                 4881
Aerial Application            1762
Business                      1098
Positioning                    901
Unknown                        821
Other Work Use                 645
Aerial Observation             432
Flight Test                    404
Public Aircraft                251
Ferry                          209
Executive/corporate            193
Skydiving                      148
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

In [13]:
df["Weather.Condition"].value_counts()

VMC    34275
IMC     2153
Unk      262
UNK       57
Name: Weather.Condition, dtype: int64

In [30]:
df["Event.Year"] = pd.DatetimeIndex(df["Event.Date"]).year

In [31]:
df = df[df['Event.Year'] >= 2000]

In [28]:
df.sort_values(by="Event.Year")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87812,20220517105094,Accident,ANC22LA033,2022-05-17,"Anchorage, AK",United States,612333N,1494939W,Z40,Goose Bay,...,NaN,0.0,1.0,0.0,1.0,VMC,NaN,A loss of engine power for reasons that could ...,01-09-2022,2022
87811,20220517105092,Accident,GAA22WA181,2022-05-17,"Piracuara, OF",Colombia,NaN,NaN,NaN,NaN,...,Aerolineas Llaneras Arall LTDA,4.0,0.0,0.0,0.0,NaN,NaN,NaN,14-06-2022,2022
87810,20220524105124,Accident,WPR22LA187,2022-05-16,"Douglas, WY",United States,424750N,0105239W,KDGW,Converse County,...,NaN,0.0,1.0,0.0,1.0,VMC,NaN,The pilots inadequate flare and subsequent lo...,13-10-2022,2022
87820,20220519105104,Accident,CEN22LA206,2022-05-19,"Beach City, TX",United States,294539N,0945036W,54T,RWJ Airpark,...,NaN,0.0,2.0,0.0,0.0,VMC,NaN,The pilots failure to maintain directional co...,08-09-2022,2022
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,2022

In [7]:
df["Event.Year"].value_counts()

2000    2220
2003    2085
2001    2063
2005    2031
2002    2020
2007    2016
2004    1952
2008    1893
2006    1851
2011    1850
2012    1835
2010    1786
2009    1783
2018    1681
2016    1664
2017    1638
2019    1624
2022    1607
2015    1582
2013    1561
2021    1545
2014    1535
2020    1392
Name: Event.Year, dtype: int64